# Dependencies
node_modules/
.DS_Store

# Environment
.env
.env.local

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Not part of AirSign project (ignore other files in Downloads)
Best*
MyDock*
TC2Save*
app.py
*.xml
*.ico
*.cfg
